$main-bg: rgb(3, 18, 32);
$alt-bg: #dae8e9;
$accent-color: rgb(60, 59, 59);
$main-color: $alt-bg;
$alt-color: $main-bg;
$accent-bg: "cornflowerblue";
$font-family: "Anton, serif !important";
$bounds: 70px;
$scrollSnapAlign: 'center';

.wrapper {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: $scrollSnapAlign;
}

section {
    margin-left: 10%;
}

li {
    list-style-type: none;
}