.project-title {
    font-size: 60px;
    font-weight: 500;
}

.project-selected {
    font-size: 24px;
    font-weight: bold;
}

.project {
    margin: 30px 0;
}

.project-unselected {
    font-size: 16px;
    cursor: pointer;
}